# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Global logs
logs/
*.log
Backend/config/cpen321project-c324e-firebase-adminsdk.json
Backend/src/config/cpen321project-c324e-firebase-adminsdk.json
Backend/src/config/cpen321project-stripe-secret.txt
